<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create an Account</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

</head>
<body>
<form method = 'post' action="/user">
    <label> Username:
        <input type="text" name="username">
    </label>
    <label>Email:
        <input type="email" name="email">
    </label>
    <label>Password:
        <input type="password" name="password">
    </label>
    <label>Confirm Password:
        <input type="password" name="verify">
    </label>
    <input type="submit" value="Submit">
</form>

</body>
</html>